body {
  text-align: center;

}
body h1#title {
  color: black;
  border-bottom: 5px solid #33D480;
  margin-left: auto;
  margin-right: auto;
  width: 40%;
}
main {
  padding-top: 20px;
}
form {
  width: 700px;
  margin: auto;
  padding: 10px;

  background-color: rgba(211, 211, 211, 0.514);
  border-radius: 20px;
}
input[type=text], input[type=password], input[type="number"], input[type=date], input[type=null] {
    width: 100%;
    padding: 12px 20px;
    margin: 8px 0;
    display: inline-block;
    border: 1px solid #ccc;
    border-radius: 10px;
    box-sizing: border-box;
  }
input[type=submit] {
  width: 100%;
  background-color: #53CF65;
  color: white;
  padding: 14px 20px;
  border: none;
  cursor: pointer;
  margin-top: 20px;
  border-radius: 20px;
  
}
input[type=submit]:hover{
  opacity: 0.8;
}
form h1{
    text-align: center;
    margin: 0;
    color: #43EB66;
  }
form p{
  text-align: center;
  color: white;
  padding: 10px;
}
.bus_label{
  margin-left: 20px;
  background-color: white;
  padding: 15px;
  border-radius: 2px;
  font-size: 10px;
}

button {
  display: block;
  margin: auto auto 10px auto;
}