header{
    background-color: #43EB66;
    background: linear-gradient(90deg,#43D433, #43EB66 , #43D433 );


    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;

    padding: 20px;
}
header h1{
    padding: 0;
    margin: 0;
    color: white;
    text-align: center;
    font-size: 50px;
}
header img{
    margin: 0 10px;
    max-width: 120px;
}