html {
    height: 100%;
}
body {
    background-image: linear-gradient(to bottom right, #43EB66, #daffe2);
    height: 85%;
}
.grid-container {
    display: grid;
    grid-template-rows: 1fr;
    grid-template-columns: 1fr;
    justify-items: center;
    align-items: center;
}
.grid-container-login {
    display: grid;
    grid-template-columns: 60% 40%;
}
div#login {
    background: linear-gradient(90deg, white 60%, #40e965 50%, #53CF65);
    width: clamp(400px, 60%, 80%);
    height: 100%;
    border-radius: 20px;
    box-shadow: 5px 5px 30px rgba(0, 0, 0, 0.466);
}

h1, h2 {
    font-size: clamp(40px, 60px, 80px); 

    margin: 0px;
    height: 100px;
}
input[type=text], input[type=password], input[type="number"] {
    font-size: clamp(5px, 16px, 20px);
    
    margin: 0px;
    margin-bottom: 5px;
    padding: 10px 10px 10px 15px;
    width: 90%;    

    border: 1px solid #ccc;
    border-radius: 10px;
}
input[type=submit] {
    font-size: clamp(10px, 20px, 30px);

    margin: 0px;
    margin-top: 10px;
    padding: 10px;
    width: 90%;

    background-color: #53CF65;
    color: white;

    border: none;
    cursor: pointer;
    border-radius: 20px;
    
  }

section {
    display: grid;
    grid-template-rows: 1fr 0.1fr;
    justify-items: center;
    align-items: center;
}
section div#form-Login {
    width: 100%;
    text-align: center;
}

aside{
    background-image: url('../images/reusetech-transparente.png');
    background-repeat: no-repeat;
    background-position: center;
    background-size: 100%;
    
    display: grid;
    grid-template-rows: 0.5fr 0.5fr 0.1fr;
    justify-items: center;
    align-items: center;
}
aside h1, h2{
    display: inline;
    font-size: clamp(20px, 35px, 40px); 

    color: white;
}
aside h2 {
    font-size: clamp(10px, 19px, 20px); 

    color: rgb(255, 255, 255);
}
div#title {
    text-align: center;
    align-self: end;
    border-bottom: 1px solid white;
}
div#title2 {
    display: block;
    align-self: start;
    text-align: center;
    width: 75%;
}



