main{
    width: 100%;
    text-align: center;
}
main h1#title {
    color: black;
    border-bottom: 5px solid #33D480;
    margin-left: auto;
    margin-right: auto;
    width: 40%;
}
main #funcoes{
    text-align: center;
    max-width: 850px;
    margin: 10px auto 0;
    padding: 10px;
    background-color: #63FF83;
    border-radius: 8px;
}
main #funcoes:hover{
    background-color:#33D480;
}
main #funcoes h1{
    border: 0px solid lightgray;
    color: rgb(85, 85, 85);
    margin: 0;
}
main #funcoes a{
    text-decoration: none;
}
main #funcoes p{
    font-size: 20px;
    color: black;
}
.sair{
    text-align: center;
    margin-top: 20px;
    margin-bottom: 20px;
}
.sair input{
    padding: 10px 20px;
    width: 40%;
}